.page__footer.footer

  //- Copyright
  p.footer__copyright &copy; Andy McGuinness, 2017.

  //- Icon List
  ul.footer__icon-list.icon-list

    //- GitHub
    li.icon-list__item
      a.icon-list__item-link.tooltip( data-content='andymcguinness' href='https://github.com/andymcguinness' title='Andy McGuinness on GitHub' )
        i.am-github.icon-list__icon

    //- Twitter
    li.icon-list__item
      a.icon-list__item-link.tooltip( data-content='@andymcgnnss' href='https://twitter.com/andymcgnnss' title='Andy McGuinness on Twitter' )
        i.am-twitter.icon-list__icon

    //- 8tracks
    li.icon-list__item
      a.icon-list__item-link.tooltip( data-content='andymcguinness' href='http://8tracks.com/andymcguinness' title='Andy McGuinness on 8tracks' )
        i.am-eighttracks.icon-list__icon

    //- Twitch
    li.icon-list__item
      a.icon-list__item-link.tooltip( data-content='AndyMcGuinness' href='http://www.twitch.tv/andymcguinness' title='Andy McGuinness on Twitch' )
        i.am-twitch.icon-list__icon
