.page__header.header
  
  //- Title
  h1.header__title
    a.header__link( href='/' title='Home' ) Andy McGuinness
        

  //- Nav Links
  nav.header__nav.header-nav
    a.header-nav__item.header-nav__item--work( href='/work' title='Work' ) Work
    a.header-nav__item.header-nav__item--about( href='/about' title='About' ) About
    a.header-nav__item.header-nav__item--blog( href='/blog' title='Blog' ) Blog
