# npm dependencies
node_modules/

# compiled CSS
dist/css/*.css

# compiled pug to html
dist/*
dist/*/*.html

# Mac files
.DS_Store

# SASS files
.sass-cache/

# Blog database
blog/content/data/ghost-dev.db
dist/blog/content/data/ghost-dev.db
dist/blog/content/data/ghost.db

# logs
*.log
