<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
    </title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/vendor/opentip.css" rel="stylesheet" type="text/css">
    <link href="css/main.css" rel="stylesheet" type="text/css">
    <script src="https://use.typekit.net/xta0itk.js"></script>
    <script type="text/javascript">
      <try>{Typekit.load({ async: true });}catch(e){}</try>
    </script>
  </head>
  <body>
    <script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="js/vendor/opentip-jquery.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>