/**
 * File: home.scss
 * Description: Styles for the homepage specifically
 * Dependencies: None
 *
 * @package delta
 */

/* === Content === */
.page--home {
  .content__description {
    margin-bottom: calc-rem(40);
    color: $color__black;
    font-size: calc-rem(34);
    line-height: 1.4;
  }
}
