/**
 * File: icon-list.scss
 * Description: Defines the icon list styles for the application
 * Dependencies: none
 *
 * @package delta
 */

/* === Individual Item === */
.icon-list__item {
  display: inline-block;
  margin-right: calc-rem(20);
  width: auto;

  &:last-of-type{ margin-right: 0; }
  &:nth-child(1n) { 
    .icon-list__item-link {
      color: $color__blue;

      &:hover { color: $color__black; }
    }
  }
  &:nth-child(2n) { 
    .icon-list__item-link {
      color: $color__red;

      &:hover { color: $color__black; }
    }
  }
  &:nth-child(3n) { 
    .icon-list__item-link {
      color: $color__brown;

      &:hover { color: $color__black; }
    }
  }
  &:nth-child(4n) { 
    .icon-list__item-link {
      color: $color__blue;

      &:hover { color: $color__black; }
    }
  }
  &:nth-child(5n) { 
    .icon-list__item-link {
      color: $color__red;

      &:hover { color: $color__black; }
    }
  }
}
.icon-list__item-link {
  float: left;
  text-decoration: none;
  @include vendor-prefix(transition, 'color .3s ease');
}
.icon-list__icon {
  float: left;
  font-size: calc-rem(30);
}
