/**
 * File: page.scss
 * Description: Basic styles for a page
 * Dependencies: None
 *
 * @package delta
 */

/* === General Styles === */
.page { background: $color__white; }
.page__inner{
  float: none;
  margin-right: auto;
  margin-left: auto;
  max-width: calc-rem(980);
  padding-top: calc-rem(100);
  padding-right: calc-rem(100);
  padding-bottom: calc-rem(100);
  padding-left: calc-rem(100);
}

/* === Content === */
.content__section {
  margin-bottom: calc-rem(40);

  &:last-of-type { margin-bottom: 0; }
}
.content__heading {
  margin-bottom: calc-rem(20);
  color: $color__brown;
  font-size: calc-rem(30);
  font-weight: bold;
}
.content__description {
  margin-bottom: calc-rem(20);
  color: $color__black;
  line-height: 1.4;
}
.content__buttons { margin-top: calc-rem(15); }
