/**
 * File: header.scss
 * Description: Defines the header styles for the application
 * Dependencies: none
 *
 * @package delta
 */

/* === General === */
.header {
  margin-bottom: calc-rem(70);
  padding-bottom: calc-rem(10);

  &:before {
    content: '';
    position: absolute;
    bottom: calc-rem(-20);
    left: 0;
    z-index: -1;
    height: calc-rem(20);
    width: 100%;
    background: -moz-linear-gradient(315deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 75%, $color__red 75%, $color__red), -moz-linear-gradient(225deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 75%, $color__red 75%, $color__red), -moz-linear-gradient(45deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 75%, $color__red 75%, $color__red), -moz-linear-gradient(135deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 75%, $color__red 75%, $color__red);
    background: -webkit-linear-gradient(315deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 75%, $color__red 75%, $color__red), -webkit-linear-gradient(225deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 75%, $color__red 75%, $color__red), -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 75%, $color__red 75%, $color__red), -webkit-linear-gradient(135deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 75%, $color__red 75%, $color__red);
    background: linear-gradient(135deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 75%, $color__red 75%, $color__red), linear-gradient(225deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 75%, $color__red 75%, $color__red), linear-gradient(45deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 75%, $color__red 75%, $color__red), linear-gradient(315deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 75%, $color__red 75%, $color__red);
    background-position: calc-rem(10) calc-rem(10), calc-rem(10) calc-rem(10), 0 calc-rem(10), 0 calc-rem(10);
    background-repeat: repeat;
    background-size: calc-rem(20) calc-rem(20);
  }
}

/* === Title === */
.header__title {
  display: inline-block;
  float: left;
  width: auto;
  font-weight: bold;
}
.header__link {
  color: $color__white;
  font-size: calc-rem(50);
  text-decoration: none;
}
.header__icon {
  color: $color__blue;
  font-size: calc-rem(40);
}

/* === Nav === */
.header-nav {
  display: inline-block;
  float: right;
  padding-top: calc-rem(25);
  width: auto;
}
.header-nav__item {
  display: inline-block;
  float: left;
  margin-right: calc-rem(25);
  width: auto;
  color: $color__white;
  text-decoration: none;
  @include vendor-prefix(transition, 'color .3s ease');

  &:last-of-type { margin-right: 0; }
  &:nth-child(1n):hover { color: $color__blue; }
  &:nth-child(2n):hover { color: $color__red; }
  &:nth-child(3n):hover { color: $color__brown; }
}
