extends templates/wrapper

block title
  | Andy McGuinness -- About

block content
  //- Header
  include includes/header.pug

  //- Content
  .page__content.content

    //- Intro
    .content__section

      //- Header
      h4.content__heading Hey there, I'm Andy.

      //- Content
      p.content__description
        span I'm a 24-year-old developer currently located in
        span.hover( data-content='The winters suck, but the beer is great.' ) Chicago, Illinois
        span . I specialize in full-stack development, from setting up Apache on the server to perfecting CSS animations on the front-end. I have experience in AngularJS, WordPress, CodeIgniter, and SASS, to name a few things.

      p.content__description
        span I constantly seek to learn new things and love new challenges. If I don't know how to do it, I'll figure it out. I'm stubborn like that.

      p.content__description
        span I'm currently the lead developer for
        a.link( href='http://planetary-lab.org' title='PlanetLab' ) PlanetLab
        span , and have been working on that project for close to two years. In addition, I am also a developer with
        a.link( href='http://brandivo.com' title='Brandivo, LLC' ) Brandivo
        span and
        a.link( href='http://advantinteractive.com' title='Advant Interactive' ) Advant Interactive
        span , where I work on WordPress sites from plugin development to theme perfection. In my spare time, I work as an expert at
        a.link( href='http://bugrex.com' title='BugRex' ) BugRex
        span , a site where experts help you solve quick HTML/CSS/JS/WordPress/Rails/etc. issues. I also am working on
        a.link( href='https://github.com/osseusjs' title='OsseusJS' ) OsseusJS
        span -- yet another static site generator :)

      p.content__description
        span If you have any questions, or would just like to chat (about anything -- development-related or not), feel free to shoot me an email using my contact form.

      .content__buttons
        button.button--red.modal-trigger( data-modal='contact-form' ) Say Hello

    //- Skills
    .content__section

      //- Title
      h4.content__heading Skills

      //- Container
      .content__skills.skills

        //- HTML
        .skills__skill.skill.skill--html.tooltip( data-content='I\'ve been doing this since high school. HTML5? No sweat.' )
          .skill__bar
            span.skill__bar-inner.ninety
          span.skill__before Beginner
          span.skill__after Expert
          span.skill__title HTML

        //- CSS
        .skills__skill.skill.skill--css.tooltip( data-content='I\'ve also been doing this since high school. CSS3? You got it. Vendor prefixing? Can do.' )
          .skill__bar
            span.skill__bar-inner.ninety
          span.skill__before Beginner
          span.skill__after Expert
          span.skill__title CSS

        //- JS
        .skills__skill.skill.skill--js.tooltip( data-content='I\'m not as caught up with ES6 as I should be. But everything up to that point, I\'m solid.' )
          .skill__bar
            span.skill__bar-inner.seventy-five
          span.skill__before Beginner
          span.skill__after Expert
          span.skill__title JavaScript

        //- PHP
        .skills__skill.skill.skill--php.tooltip( data-content='My regular PHP skills are somewhat rusty, but I could still probably bang out a PDO object.' )
          .skill__bar
            span.skill__bar-inner.sixty
          span.skill__before Beginner
          span.skill__after Expert
          span.skill__title PHP

        //- Python
        .skills__skill.skill.skill--python.tooltip( data-content='I\'m brand-new to the language, but learning every day.' )
          .skill__bar
            span.skill__bar-inner.twenty
          span.skill__before Beginner
          span.skill__after Expert
          span.skill__title Python

        //- AngularJS
        .skills__skill.skill.skill--angular.tooltip( data-content='I\'m brand-new to the language, but learning every day.' )
          .skill__bar
            span.skill__bar-inner.twenty
          span.skill__before Beginner
          span.skill__after Expert
          span.skill__title Python

  //- Footer
  include includes/footer.pug
